html, body {
    box-sizing: border-box;
    color: white;
    background: black;
    font-size: 1.5em;
    font-family: "VT323", monospace;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    padding: 0.5%;
}

/* Input */
#input-wrapper {
    width: 100%;
    display: flex;
}

#input-container {
    display: flex;
    flex: 1;
}

.input-mirror {
    position: absolute;
    overflow: hidden;
    color: transparent;
}

#input, #input-wrapper {
    color: #53eb9b;
}

#input {
    flex: 1;
    border: none;
    /*white-space: nowrap;*/
    caret-color: transparent;
    resize: none;
}

#input:focus {
    outline: none;
}

/* Output */
#output-wrapper div {
    display: inline-block;
    width: 100%;
}

.header-output {
    color: #9d9d9d;
}

.error-output {
    color: #ff4e4e;
}

.input-cursor {
    animation: blink 1s infinite;
    background-color: #00ff00;
    position: absolute;
    height: 1em;
    width: .5em;
    margin-left: .125em;
}

@keyframes blink {
    0%, 100% {
        background-color: transparent;
    }
    50% {
        background-color: #00ff00;
    }
}
