
html, body {
    box-sizing: border-box;
    color: white;
    background: black;
    font-size: 1.5em;
    font-family: "VT323", "Noto Color Emoji", monospace;
    height: 100%;
    margin: 0;
    padding: 0;
    font-variant-ligatures: none;
}

@media (max-width: 1440px) {
    body {
        font-size: 1.25em;
    }
}

@media (max-width: 1024px) {
    body {
        font-size: 1em;
    }
}

/* mobile: https://stackoverflow.com/questions/12469875/how-to-code-css-media-queries-targeting-all-mobile-devices-and-tablets/42835826#42835826 */
@media (hover:none), (hover:on-demand) {
    body {
        font-size: 0.8em;
    }
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    padding: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

#main-view {
    position: absolute;
    box-sizing: border-box;
    border: .25em solid #53eb9b;
    border-radius: .5em;
    top: 1em;
    left: 1em;
    padding: 1em;
    width: calc(100% - 2em);
    height: calc(100% - 2em);
    overflow: auto;
}

#output-wrapper {
    /*
    flex: 1 1 auto;
    overflow-y: auto;
    padding: 1em;
    min-height: 0;
   */
}

#input-wrapper {
    /*
     flex: 0 0 auto;
     padding: 1em;
     background: transparent;
     border-top: 1px solid #53eb9b;
   */
    width: 100%;
    display: flex;
}

#input-container {
    display: flex;
    flex: 1;
    align-items: center;
}

#input, #input-wrapper {
    color: #53eb9b;
}

#input {
    flex: 1;
    border: none;
    white-space: pre-wrap;
    caret-color: transparent;
    resize: none;
}

#input-mirror {
    position: absolute;
    overflow: hidden;
    color: transparent;
    white-space: pre-wrap;
}

#input:focus {
    outline: none;
}

/* Output */
#output-wrapper div {
    display: inline-block;
    width: 100%;
    margin-bottom: 1em;
    white-space: pre-wrap;
}
#output-wrapper div:first-child {
    color: #53eb9b;
}

.header-output {
    color: #9d9d9d;
    padding-left: 1em;
    font-style: italic;
    position: relative;
}
.header-output::before {
    content: ">";
    color: #53eb9b;
    margin-right: 1em;
    position: absolute;
    left: 0;
    font-style: normal;
}
.text-output {}
.error-output {
    color: #ff4e4e;
}

.input-cursor {
    animation: blink 1s infinite;
    position: absolute;
}

@keyframes blink {
    0%, 100% {
        color: #53eb9b;
    }
    50% {
        color: transparent;
    }
}

#spinner {}
#spinner::after {
    content: "|";
    animation: spin 0.5s infinite;
    color: #53eb9b;
}

@keyframes spin {
    0% { content: "|"; }
    25% { content: "/"; }
    50% { content: "-"; }
    75% { content: "\"; }
}
